:root {
    --text-color: #333;
    --text-color-2: #B6B6B6;
    --div-color: #F38181;
    --background: #FFF;
    --accent-color: #95E1D3;
}

*,
*::after,
*::before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: "Montserrat";
}

.container {
    width: 1220px;
    padding-left: 10px;
    padding-right:10px ;
    margin: 0 auto;
}
 
.header-logo {
width: 98px;
height: 33px;
color: var(--accent-color);
font-size: 30px;
font-weight: 700;
line-height: 0.81;
}


.nav-link {
color: var(--accent-color);
font-size: 14px;
font-weight: 400;
line-height: 0.81;
}

.nav-link:hover, .nav-link:focus {
    color: var(--div-color);
}



.hero-title{
color: var(--text-color);
font-family: "Kaushan Script";
font-size: 24px;
font-weight: 400;
line-height: 0.68;
}

.hero-paragraph {
color: var(--text-color);
font-size: 30px;
font-weight: 700;
line-height: 0.81;
font-variant: all-small-caps;
}

.dox-hero {
width: 60px;
height: 4px;
}


/* .photo-img {
    width: 100%;
} */

.photo-title {
    width: 99.086px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 0.82;
    font-variant: small-caps;
}

.photo-desc {
    width: 275.78px;
    height: 37px;
    color: var(--text-color-2);
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 0.68; 
}



.team-title {
    color: var(--text-color);
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    line-height: 0.68;
}

.team-paragraph {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 0.81;
    font-variant: all-small-caps;
}

.team-box {
    width: 60px;
    height: 4px;
    border: solid 4px var(--div-color);
 
}

.team-desc {
    width: 1104px;
    height: 47px;
    flex-shrink: 0;
    color: var(--text-color-2);
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 0.83;
}

/* .works-item {
    flex-basis: calc((100% - 60px) / 3);
}

.works-img {
    width: 100%;
} */

.works-title {
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.82;
    font-variant: all-small-caps;
}

.work-text {
    color: var(--text-color-2);
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 0.83;
}

.address-desc {
color: var(--text-color);
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 0.87;
}

.address-span {
    color: var(--div-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 0.87;
}

.address-ladel {
color: var(--text-color-2);
text-align: center;
font-family: "Roboto";
font-size: 14px;
font-style: italic;
font-weight: 300;
line-height: 0.87;
}

.address-input1 {
 width: 230px;
height: 39px;
stroke-width: 1px;
stroke: var(--text-color-2);
}

.address-input {
width: 150px;
height: 40px;
background: var(--accent-color);
}

